[access]
	inheritFrom = All-Non-CI-Projects
[project]
	description = ssh://codereview.qt-project.org:29418/qt-labs/weather-app.git\n\
The \"Quick Forecast\" application.
[receive]
	requireContributorAgreement = true
	requireChangeId = true
[submit]
	mergeContent = true
	action = cherry pick
[cherryPick]
	includeReviewedOn = true
[cherryPick "categoryFooters"]
	Sanity-Review = true
[access "refs/*"]
	owner = group Administrators
	forgeAuthor = group Qt Weather App Owners
	forgeCommitter = group Qt Weather App Owners
	push = +force group Qt Weather App Owners
	create = group Qt Weather App Owners
